<nav class="navbar navbar-expand-lg navbar-light navCustomCss">

    <a class="navbar-brand" routerLink="home"><img src="./assets/gitHubLogo.png" alt="gitHubLogo" class="image-responsive gitHubLogo">ghSearch</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse navDiv" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home"><img src="./assets/homeIcon.png" alt="ghSearch Home" class="image-responsive homeIcon"><br> Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="about"><img src="./assets/aboutIcon.png" alt="ghSearch About" class="image-responsive aboutIcon"><br> About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="search-users"><img src="./assets/searchIcon1.png" alt="ghSearch Explore" class="responsive-image exploreIcon"><br>Explore</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="search-repos"><img src="../../../assets/searchIcon1.png" alt="ghSearch Explore" class="responsive-image exploreIcon"><br>Repos</a>
            </li> -->
        </ul>
    </div>
</nav>