.navCustomCss {
    background: #f8fdfd;
    margin-right: 0px;
    margin-left: 0px;
}

.navbar-brand {
    margin-left: 30px;
}

.gitHubLogo {
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

.navDiv {
    margin-left: 50vw;
}

.homeIcon,
.aboutIcon,
.exploreIcon {
    width: 40px;
    height: 40px;
    margin-right: 30px;
}