<div class="container abtSection">

    <!-- ==========about the webapp generally and the Home page=========== -->


    <div class="card">
        <div Class="card-body">
            <div class="card-text">
                <div class="row align-items-center aboutContent1">
                    <div class="col-lg-8">
                        <p>Our ghSearch (GitHub Search) is a website that enables the search of GitHub users and their repositories. </p>
                        <p>To get the full experience of the page, follow the following steps:</p>
                        <p>Click on the buttons on the navigation bar.</p>
                        <p>The ghSearch and the Home button navigates to the home page where you can get the preview of the GitHub Search section and also view the webpage developer's github profile.</p>
                    </div>

                    <div class="col-lg-4 aboutImage1">
                        <!-- insert screenshot of ghSerch Home page here -->
                        <img src="./assets/gitHubLogo.png" alt="ghSearch Home">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ==========about About=========== -->

    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <div class="row align-items-center aboutContent2">
                    <div class="col-lg-3 aboutImage2">
                        <!-- insert screenshot of ghSearch About page here -->
                        <img src="./assets/gitHubLogo.png" alt="ghSearch Explore">
                    </div>

                    <div class="col-lg-9">
                        <p>The About button navigates to this page which gives more information about this webapp</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- ==========about Explore/Search=========== -->


    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <div class="row align-items-center aboutContent3">
                    <div class="col-lg-8">
                        <p>The Explore button navigates to the explore or search section of the application where you can view the search section and search for the GitHub users and their respositories</p>
                    </div>

                    <div class="col-lg-4 aboutImage3">
                        <!-- insert screenshot of ghSearch Explore/Search page here -->
                        <img src="./assets/gitHubLogo.png" alt="ghSearch Explore">
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>