<div class="homeSection">

    <div class="container-fluid text-center ghProfileRk">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <!-- insert ghProfiel here -->is this working?
                <img src="" alt="RK ghProfilePic" class="img-fluid">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <!-- insert list of repos here -->is this working?
            </div>
        </div>

    </div>

    <!-- <app-about></app-about> -->
    <!-- <app-explore></app-explore> -->

</div>