<div class="homeSection">

    <div class="container-fluid text-center homeHeader"></div>

    <!-- ============= profile pic and bio ================= -->

    <div class="container ghProfileDetails">
        <div class="row align-items-center homeContent">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <img src={{rkGhProfile.avatar_url}} alt="RK Nyra Profile Pic" class="rounded-circle profilePic">
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12 rkDetails">
                <h2>{{rkGhProfile.name}}</h2>
                <div class="rkDetailsBlack">
                    <div>{{rkGhProfile.bio}}</div>
                    <div>{{rkGhProfile.location}}</div>
                    <div>
                        <a href={{rkGhProfile.url}}></a>{{rkGhProfile.url}}</div>
                </div>
            </div>

        </div>
    </div>

    <!-- ============= repositories ================= -->

    <div class="container">
        <div class="row align-items-center ">
            <div class="col-lg-12 col-md-12 col-sm-12 repositories">

                <div class="repoHeading">
                    <h2>Repositories</h2>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="card-text">repo name</div>
                        <div class="card-text">repo description</div>
                        <div class="card-text">repo language</div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="card-text">repo name</div>
                        <div class="card-text">repo description</div>
                        <div class="card-text">repo language</div>
                    </div>
                </div>


            </div>

        </div>
    </div>

</div>